<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>todo</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
    <div class="font-serif">
        <p class="flex mx-auto my-10 justify-center w-[60vw] text-5xl font-bold text-green-600">Welcome to the TO-DO manager</p>
        <div class="flex justify-center py-2 mx-auto my-5 rounded-lg w-[20vw] border-2 border-green-500">
            <a href="/signup" class="flex items-center">New here?<p class="px-1 text-green-600">Sign-up now</p></a>
        </div>    
        <div class="flex justify-center py-2 mx-auto my-5 rounded-lg w-[20vw] border-2 border-green-500">
            <a href="/userlogin" class="flex items-center">Already have an account?<p class="px-1 text-green-600">Sign-in</p></a>
        </div>     
    </div>
    
</body>
</html>